.change li  {
  font-size: 7pt;
  color:red
}

h1  {
  font-size: 15pt;
  text-align: center;
}

h3  {
  font-size: 12pt;
  text-align: center;
}
.blue {
  color:blue;
}

.sidebar{
  float: left;
}

img{
  height: 100px;
  width: 100px;
  
}
